.header {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    height: 8rem;

    display: flex;
    align-items: center;

    span {
        color: var(--highlight);
        font-weight: bold;
        font-size: 24px;
    }

    h2 {
        color: var(--heading);
        font-weight: bold;
        font-size: 24px;
        margin-left: 12px;
    }
}

.image {
    cursor: pointer;
}